<div (click)="openMobileNavbar()" class="containerBtnMobileMenu">
    <img [ngClass]="{'rotateLineTop': mobileNavbarIsOpen == true}" class="lineTop d-none"
        src="assets/img/btn-mobile-menu-line.svg">

    <img [ngClass]="{'scaleMiddleLineDown': mobileNavbarIsOpen == true}" class="lineMiddle d-none"
        src="assets/img/btn-mobile-menu-line.svg">

    <img [ngClass]="{'rotateLineBottom': mobileNavbarIsOpen == true}" class="lineBottom d-none"
        src="assets/img/btn-mobile-menu-line.svg">
</div>

<nav [ngClass]="{'mobileMenuOpen': mobileNavbarIsOpen == true, 'mobileMenuClose': mobileNavbarIsOpen == false}"
    class="containerMobileMenu">
    <a [ngClass]="{'linkActiveMobile': currentActiveLinkMobile == 'aboutMe'}" (click)="mobileLinkActive('aboutMe')"
        href="#aboutMe">
        About me
    </a>

    <a [ngClass]="{'linkActiveMobile': currentActiveLinkMobile == 'mySkills'}" (click)="mobileLinkActive('mySkills')"
        href="#skills">
        My skills
    </a>

    <a [ngClass]="{'linkActiveMobile': currentActiveLinkMobile == 'portfolio'}" (click)="mobileLinkActive('portfolio')"
        href="#portfolio">
        Portfolio
    </a>

    <a (click)="mobileLinkActive('contact')" [ngClass]="{'linkActiveMobile': currentActiveLinkMobile == 'contact'}"
        href="#contact">
        Contact
    </a>
</nav>