<section class="mainContainerIntroduction">
    <div class="containerLeftSite">
        <img data-aos="zoom-in" data-aos-easing="ease-in-out" data-aos-delay="150" class="profileImg"
            src="assets/img/img1.png">
        <img data-aos="zoom-in" data-aos-easing="ease-in-out" data-aos-delay="150" class="shadowInIntroduction"
            src="assets/img/shadows-bg.svg">
    </div>


    <div data-aos="zoom-in" data-aos-easing="ease-in-out" data-aos-delay="150" class="containerRightSite">
        <p class="texteIAm">I am</p>
        <p class="textName">Tom Petri</p>
        <p class="textFrontendDeveloper">FRONTEND DEVELOPER</p>
        <div class="btnContainer">
            <a href="#contact">
                <button>Let's talk!</button>
            </a>
        </div>
    </div>
</section>