<footer>
    <div class="leftContainerInFooter">
        <a class="faviconFooter" href="#header">
            <img src="assets/icons/favicon.png">
        </a>
        <span>
            <a routerLink="/imprint">
                imprint
            </a>
            <a routerLink="/dataprotection">
                dataprotection
            </a>
        </span>
    </div>

    <div class="middleContainerInFooter">
        <p>© Tom Petri 2023</p>
    </div>

    <div class="rightContainerInFooter">
        <a href="https://github.com/Tom5424" target="_blank">
            <img src="assets/img/github.svg">
        </a>
        <a href="mailto: tom.petri7@gmail.com">
            <img src="assets/img/mail.svg">
        </a>

        <a href="https://www.linkedin.com/in/tom-petri/" target="_blank">
            <img src="assets/img/linkedin.svg">
        </a>
    </div>

    <span class="imprintAndDataprotectionMobileView d-none">
        <a routerLink="/imprint">
            imprint
        </a>
        <a routerLink="/dataprotection">
            dataprotection
        </a>
    </span>
</footer>