<div class="maincontainerImprint">
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Tom Petri<br />
        Wilhelmstra&szlig;e 32<br />
        48324 Sendenhorst</p>

    <h2>Kontakt</h2>
    <p> E-Mail: tom.petri7@gmail.com</p>
    <br />

    <p>
        Source
        <a href="https://www.e-recht24.de" target="_blank">
            https://www.e-recht24.de
        </a>
    </p>
    <p>
        Logo made by
        <a href="https://logomakr.com/" target="_blank">
            https://logomakr.com
        </a>
    </p>
</div>