<header [ngClass]="{'stickyHeader': headerIsSticky == true}">
    <a href="#header">
        <img src="assets/icons/favicon.png">
    </a>


    <app-mobile-menu-navbar></app-mobile-menu-navbar>


    <nav class="containerSections">
        <a [ngClass]="{'linkActive': currentActiveLink == 'aboutMe'}" (click)="activeLink('aboutMe')" href="#aboutMe">
            About me
        </a>

        <a [ngClass]="{'linkActive': currentActiveLink == 'skills'}" (click)="activeLink('skills')" href="#skills">
            Skills
        </a>

        <a [ngClass]="{'linkActive': currentActiveLink == 'portfolio'}" (click)="activeLink('portfolio')"
            href="#portfolio">
            Portfolio
        </a>

        <a [ngClass]="{'linkActive': currentActiveLink == 'contact'}" (click)="activeLink('contact')" href="#contact">
            Contact
        </a>
    </nav>
</header>