<section id="aboutMe" class="mainconatinerAboutMe">
    <img class="arc" src="assets/img/arch.svg">

    <div class="mainContainerAboutMeUpperPart">
        <div data-aos="zoom-in" data-aos-easing="ease-in-out" data-aos-delay="150" class="containerAboutMeUpperPart">
            <hr>

            <a href="https://github.com/Tom5424" target="_blank">
                <img src="assets/img/github.svg">
            </a>

            <a href="mailto: tom.petri7@gmail.com">
                <img src="assets/img/mail.svg">
            </a>

            <a href="https://www.linkedin.com/in/tom-petri/" target="_blank">
                <img src="assets/img/linkedin.svg">
            </a>

            <a href="#contact">
                <p class="emailAddress">tom.petri7@gmail.com</p>
            </a>
        </div>

        <div data-aos="zoom-in" data-aos-easing="ease-in-out" data-aos-delay="150" class="containerTextScrollDown">
            <p>Scroll down</p>
            <img src="assets/img/arrow-down.svg">
        </div>
    </div>

    <div class="containerAboutMeLowerPart">
        <div data-aos="zoom-in" data-aos-easing="ease-in-out" data-aos-delay="150" class="containerAboutMeLeftSite">
            <p class="headlineAboutMe">About me</p>
            <span>
                Hi, I'm a junior front-end developer from North Rhine-Westphalia, Germany.
                During my time at the Developer Academy
                I acquired extensive knowledge about building web apps with JavaScript and Angular.
                You are welcome to visit my public portfolio to get an idea of the projects I have created so far.
            </span>


            <div class="containerIdeaToCoding">
                <img src="assets/img/light-bulb-icon.svg">
                <span>
                    I enjoy programming because you build and develop something step by step out of nothing.
                </span>
            </div>

            <div class="containerProofToCoding">
                <img src="assets/img/puzzle-part.svg">
                <span>
                    I have created various projects from simple static websites to complex web applications. Now I'm
                    ready to prove my skills as a junior front-end web developer.
                </span>
            </div>
        </div>


        <div data-aos="zoom-in" data-aos-easing="ease-in-out" data-aos-delay="150" class="containerAboutMeRightSite">
            <img class="profileImgAboutMe" src="assets/img/img2.png">
            <hr>
        </div>
        <img class="shadowInAboutMe" src="assets/img/shadow-about-me.svg">
    </div>
</section>